@charset "utf-8";

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?ie720a');
    src: url('../fonts/icomoon.eot?ie720a#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ie720a') format('truetype'),
        url('../fonts/icomoon.woff?ie720a') format('woff'),
        url('../fonts/icomoon.svg?ie720a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}