@charset "utf-8";

@import "fonts.scss";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    clear: both;
    margin: 0;
    padding: 0;
}

$micolor:#ff6900;

@mixin fonticon {
    font-family: 'icomoon';
}

@media (min-width: 1000px) and (max-width:1200px) {
    .miLeftCimage {
        width: 200px;
    }

    .miAccounts {
        margin-left: 200px;
    }
}

@media (min-width:1200px) {
    .miLeftCimage {
        width: 375px;
    }

    .miAccounts {
        margin-left: 375px;
    }
}

.miLeftCimage {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;

    .leftbigimg {
        width: 100%;
        display: inline-block;
        height: 100%;
        background: url(../img/LR-img/banner.4994397e.jpg) no-repeat;
        background-size: cover;
        background-position: 50%;
    }
}

.miAccounts {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 40px;
}

.headertop {
    padding: 20px;

    .headerlogobox {
        font-size: 26px;
        font-weight: 500;
        color: #333;
        line-height: 40px;

        .headerlogo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }
}

.headerright {

    a {
        font-size: 14px;
        color: #838383;
        margin-left: 10px;
        margin-right: 10px;
        transition: color 0.3s;

        &:hover {
            color: $micolor;
        }
    }

    .algdd {
        position: relative;

        .icomoon {
            @include fonticon;
            font-size: 12px;
        }

        &:hover {
            .lg-meun ul {
                height: 80px;
            }
        }

        .lg-meun {
            position: absolute;
            top: 35px;
            right: 0;

            ul {
                color: rgba(0, 0, 0, .65);
                text-align: center;
                font-size: 14px;
                width: 96px;
                height: 0px;
                transition: 0.3s;
                display: block;
                border-radius: 4px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                background-color: #fff;
                overflow: hidden;

                li {
                    transition: all 0.3s;
                    line-height: 40px;

                    &:hover {
                        color: #333;
                        background-color: #fff3e6;
                    }
                }
            }
        }
    }

    .splitline {
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        height: 14px;
        width: 0;
        border-right: 1px solid #ddd;
    }

}
