@charset "utf-8";

@import "header.scss";

.mmsconter,
.mipconter {
    @include conter;
}

.banners img {
    width: 1226px;
    margin: 22px 0;
}

.mmsconter,
.mipconter,
.mipconter {
    background: #f5f5f5;
}

.mainxmms {
    width: 100%;
    background: #f5f5f5;
}

.mainseeMore {
    .main-icon-cart {
        font-family: 'icomoon';
        width: 12px;
        height: 12px;
        padding: 4px;
        margin-left: 8px;
        border-radius: 16px;
        font-size: 12px;
        line-height: 12px;
        background: #b0b0b0;
        color: #fff;
        vertical-align: 1px;
        transition: all .4s;
    }

    .seeMore {
        font-size: 16px;
        line-height: 58px;
        color: #424242;
        transition: all .4s;
    }

    &:hover .main-icon-cart {
        background: $micolor;
    }

    &:hover .seeMore {
        color: $micolor;
        border: 0;
    }
}



.maintitle {
    display: block;
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.mscard {
    border-top-color: #e53935;
    padding-top: 39px;
    height: 340px;
    width: 234px;
    border-top-width: 1px;
    border-top-style: solid;
    background: #f1eded;
    text-align: center;

    .round {
        font-size: 21px;
        color: #ef3a3b;
        padding-top: 15px;
    }

    img {
        margin: 25px auto;
    }

    .desc {
        color: rgba(0, 0, 0, .54);
        font-size: 15px;
    }

    .countdown {
        width: 168px;
        margin: 28px auto 0;
    }

    span {
        width: 46px;
        height: 46px;
        background: #605751;
        color: #fff;
        font-size: 24px;
        line-height: 46px;
        float: left;
    }

    i {
        width: 15px;
        float: left;
        height: 46px;
        line-height: 46px;
        color: #605751;
        font-size: 28px;
        font-style: normal;
    }
}

.xmmsfrow {
    width: 1226px;

    .msbtn {

        a {
            display: block;
            position: relative;
            width: 36px;
            height: 24px;
            padding: 3px 5px;
            margin-left: -1px;
            border: 1px solid #e0e0e0;
            font-size: 16px;
            line-height: 16px;
            transition: color 0.5s;
            color: #b0b0b0;
            text-align: center;
            opacity: 1;

            &:hover {
                color: $micolor;
                opacity: 1;
            }

            span {
                font-family: 'icomoon';
                font-weight: bold;
            }
        }
    }
}

.mslist {
    width: 977px;

    .msci {
        width: 977px;
        height: 340px;

        & li:nth-child(1) .content {
            border-top: 1px solid #ffac13;
        }

        & li:nth-child(3) .content {
            border-top: 1px solid #2196f3;
        }

        & li:nth-child(4) .content {
            border-top: 1px solid #00c0a5;
        }

        & li:nth-child(2) .content {
            border-top: 1px solid #e53935;
        }
    }

    .content {
        width: 234px;
        margin: 0 auto 22px;
        padding-top: 39px;
        text-align: center;
        background: #fff;
        height: 340px;

        .thumb {
            margin: 0 auto 22px;
        }


        .title {
            margin: 0 20px 3px;
            font-size: 14px;
            font-weight: 400;
            text-overflow: ellipsis;
            color: #212121;
            overflow: hidden;
            white-space: nowrap;
        }

        .desc {
            height: 18px;
            margin: 0 20px 12px;
            font-size: 12px;
            text-overflow: ellipsis;
            color: #b0b0b0;
            overflow: hidden;
            white-space: nowrap;
        }

        .price {
            margin: 0;
            color: #ff6709;
        }

    }

    img {
        width: 160px;
        height: 160px;
    }
}

.mainmiplist {
    .mplleft {
        height: 614px;
    }

    .mlimg {
        width: 234px;
        height: 614px;

        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            transform: translate3d(0, -2px, 0);
            transition: all .2s linear;
        }
    }
}

.main-frow {
    ul {
        width: 977px;
    }

    ul li {
        height: 300px;
        padding: 20px 0;
        width: 234px;
        background: #fff;
        transition: all .2s linear;

        &:hover {
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            transform: translate3d(0, -2px, 0);
        }

        a {
            display: block;
            color: #757575;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            .figure {
                width: 234px;
                height: 160px;
                margin-bottom: 18px;
            }

            .figure img {
                width: 160px;
                height: 160px;
            }

            .title {
                margin: 0 10px 2px;
                font-size: 14px;
                font-weight: 400;
                color: #333;
            }

            .desc {
                margin: 0 10px 10px;
                height: 18px;
                font-size: 12px;
                color: #b0b0b0;
            }

            .price {
                margin: 0 10px 14px;
                text-align: center;
                color: #ff6700;

                del {
                    color: #b0b0b0;
                }
            }
        }
    }
}

.mlsmimg {
    width: 234px;
    height: 300px;
}

.mainseeMore {
    span {
        padding-bottom: 2px;
    }

    span:hover {
        color: #ff6700;
        border-bottom: 2px solid #ff6700;
    }

    span:nth-child(n+2) {
        margin-left: 30px;
    }
}

.main-frow .browsemore {
    background-color: transparent !important;
    margin: 0;
    padding: 0;

    &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 0 linear;
    }
}

.main-frow .bmtext {
    width: 94px;
    height: 80px;

    .smtitle {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .smtitle2 {
        font-size: 18px;
        color: #333;
        margin-top: 17px;
    }

    .price {
        font-size: 12px;
        color: #ff6700;
        text-align: left !important;
    }

    .ssmtitle {
        font-size: 12px;
        color: #757575;
    }

}

.bmon-icon-cart {
    font-family: 'icomoon';
    font-size: 48px;
    color: $micolor;
    padding-right: 15px;
}


.bmimg {
    width: 80px;
    height: 80px;
}

.bmonepdlr {
    padding: 0 6px;
}

.bmone {
    width: 234px;
    height: 143px;
    background-color: white;
    transition: all .2s linear;

    &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, -2px, 0);
    }
}

.mivideo {
    margin-bottom: 28px;
}

.videoli {
    width: 296px;
    height: 285px;
    position: relative;
    text-align: center;
    width: 296px;
    height: 285px;
    text-align: center;
    background: #fff;
    transition: all .2s linear;

    &:hover {
        .video-icon {
            background-color: #ff6700;
            border-color: #ff6700;
        }

        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translate3d(0, -2px, 0);
    }

    .videoimg {
        img {
            width: 296px;
        }

        position: relative;
    }

    .video-icon {
        position: absolute;
        font-family: 'icomoon';
        left: 20px;
        bottom: 10px;
        width: 36px;
        height: 24px;
        border: 2px solid #fff;
        border-radius: 12px;
        background-color: #424242;
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
        transition: all .2s;
        overflow: hidden;
        font-size: 15px;
        line-height: 20px;


    }

    .mv-title {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        margin-top: 28px;
    }

    .mv-smtitle {
        height: 18px;
        margin: 0 14px;
        font-size: 12px;
        color: #b0b0b0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}